@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alcubierre";
  src: url("/fonts/alcubierre/Alcubierre.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "Alcubierre", sans-serif;
}
